<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ufc.com.ajudaai">

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ajudaai"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ajudaai"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.view.Splash2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.view.EditarPerfilActivity"
            android:label="Gerencie sua conta">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.view.PerfilActivity" />
        </activity>
        <activity android:name=".view.view.NotifyActivity" />
        <activity android:name=".view.view.PerfilActivity" />
        <activity android:name=".view.view.SearchActivity" />
        <activity
            android:name=".view.view.CriarUmaPublicacaoActivity"
            android:label="Criar uma publicação">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.view.Pagina_Inicial_Activity" />
        </activity>
        <activity android:name=".view.view.SplashActivity" />
        <activity
            android:name=".view.view.CriarContaActivity"
            android:label="Crie sua conta">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.view.LoginActivity" />
        </activity>
        <activity android:name=".view.view.LoginActivity" />
        <activity android:name=".view.view.Pagina_Inicial_Activity">
        </activity>
    </application>

</manifest>